*
!.gitignore
!README.md
!luma_exr_viewer.py
!requirements.txt
!build_exe.bat
!LumaEXR-Viewer.spec
!pyi_rth_tk_env.py
!assets/
!assets/app_icon.png
!assets/app_icon.ico
!hooks/
!hooks/**
!packaging/
!packaging/**
__pycache__/
*.pyc
